# git Ignore Files

# ignore Building Directories
/bin/
/bin-int/

# ignore the .vs Dir
/.vs/

# ignore the Visual Studio Solution Files
*.sln

#ignore the Visual Studio Projects Files
*.vcxproj
*.filters
*.user